@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic,900|Roboto:300,700|Satisfy");

/* Basic */

	body {
		background: #f5f5f5;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	.trans {
		background-color: transparent;
	}

	body, input, select, textarea {
		color: #777;
		font-family: "Source Sans Pro", sans-serif;
		font-size: 16pt;
		font-weight: 300;
		line-height: 1.65em;
		letter-spacing: -0.015em;
	}

	a {
		-moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
		-o-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
		transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
		border-bottom: dotted 1px;
		color: rgba(113,191,69,1);
		text-decoration: none;
	}

		a:hover {
			border-bottom-color: transparent;
		}

	strong, b {
		color: #646464;
		font-weight: 400;
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #646464;
		font-weight: 300;
		line-height: 1em;
		margin: 0 0 0.5em 0;
		font-family: "Roboto", sans-serif;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	h2 {
		font-size: 2.25em;
		line-height: 1.5em;
		letter-spacing: -0.035em;
	}

	h3 {
		font-size: 1.75em;
		line-height: 1.5em;
		letter-spacing: -0.025em;
	}

	h4 {
		font-size: 1.1em;
		line-height: 1.5em;
		letter-spacing: 0;
	}

	h5 {
		font-size: 0.9em;
		line-height: 1.5em;
		letter-spacing: 0;
	}

	h6 {
		font-size: 0.7em;
		line-height: 1.5em;
		letter-spacing: 0;
	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.2em;
	}

	
	sup {
		font-size: 0.5em;
		position: relative;
		top: -1em;
	}

	hr {
		border: 0;
		border-bottom: solid 2px #e5e5e5;
		margin: 2em 0;
	}

		hr.major {
			margin: 3em 0;
		}

	blockquote {
		border-left: solid 4px #e5e5e5;
		font-style: italic;
		margin: 0 0 2em 0;
		padding: 0.5em 0 0.5em 2em;
	}

	pre {
		-webkit-overflow-scrolling: touch;
		background: #f8f8f8;
		border-radius: 6px;
		border: solid 1px #e5e5e5;
		font-family: monospace;
		font-size: 0.9em;
		line-height: 1.75em;
		margin: 0 0 2em 0;
		overflow-x: auto;
		padding: 1em 1.5em;
	}

	code {
		background: #f8f8f8;
		border-radius: 6px;
		border: solid 1px #e5e5e5;
		font-family: monospace;
		font-size: 0.9em;
		margin: 0 0.25em;
		padding: 0.25em 0.65em;
	}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}

/* Section/Article */

	section.special, article.special {
		text-align: center;
	}

	header p {
		color: #999;
		position: relative;
		margin: 0 0 1.5em 0;
		font-style: italic;
	}

	header h2 + p {
		font-size: 1.25em;
		margin-top: -1em;
		line-height: 1.5em;
	}

	header h3 + p {
		font-size: 1.1em;
		margin-top: -0.85em;
		line-height: 1.5em;
	}

	header h4 + p,
	header h5 + p,
	header h6 + p {
		font-size: 0.8em;
		margin-top: -0.5em;
		line-height: 1.5em;
	}

	header.major {
		padding: 1em 0;
		text-align: center;
	}

		header.major h2 {
			margin: 0;
		}

		header.major p {
			color: #777;
			margin: 0 0 0 8em;
			font-style: normal;
			text-align: left;
		}

/* Form */

	form {
		margin: 0 0 2em 0;
	}

	label {
		color: #646464;
		display: block;
		font-size: 0.9em;
		font-weight: 300;
		margin: 0 0 1em 0;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background: #f8f8f8;
		border-radius: 6px;
		border: solid 1px #e5e5e5;
		color: #0e0e0e;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;
	}


		input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;

		}
		
		input[name="calculate"]:invalid:focus, input[type="email"]:invalid:focus {
			box-shadow: none;
			color:red;
			font-weight:400;

		}
		input[name="calculate"]:valid, input[type="email"]:valid {
			box-shadow: none;
			color: #71BF45;
		}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		select:focus,
		textarea:focus {
			border-color: rgba(113,191,69,1);
			box-shadow: 0 0 0 2px rgba(113,191,69,1);
			font-weight:400;
		}

	.select-wrapper {
		text-decoration: none;
		display: block;
		position: relative;
	}

		.select-wrapper:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.select-wrapper:before {
			color: #e5e5e5;
			content: '\f078';
			display: block;
			height: 3em;
			line-height: 3em;
			pointer-events: none;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			width: 3em;
		}

		.select-wrapper select::-ms-expand {
			display: none;
		}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		height: 3em;
	}

	textarea {
		padding: 0.75em 1em;
	}

	input[type="checkbox"],
	input[type="radio"] {
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		display: block;
		float: left;
		margin-right: -2em;
		opacity: 0;
		width: 1em;
		z-index: -1;
	}

		input[type="checkbox"] + label,
		input[type="radio"] + label {
			text-decoration: none;
			color: #777;
			cursor: pointer;
			display: inline-block;
			font-size: 1em;
			font-weight: 300;
			padding-left: 2.55em;
			padding-right: 0.75em;
			position: relative;
		}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				background: #f8f8f8;
				border-radius: 6px;
				border: solid 1px #e5e5e5;
				content: '';
				display: inline-block;
				height: 1.8em;
				left: 0;
				line-height: 1.725em;
				position: absolute;
				text-align: center;
				top: 0;
				width: 1.8em;
			}

		input[type="checkbox"]:checked + label:before,
		input[type="radio"]:checked + label:before {
			background: #666;
			border-color: #666;
			color: #ffffff;
			content: '\f00c';
		}

		input[type="checkbox"]:focus + label:before,
		input[type="radio"]:focus + label:before {
			border-color: rgba(113,191,69,1);
			box-shadow: 0 0 0 1px rgba(113,191,69,1);
		}

	input[type="checkbox"] + label:before {
		border-radius: 6px;
	}

	input[type="radio"] + label:before {
		border-radius: 100%;
	}
	
	::-webkit-input-placeholder {
		color: #999 !important;
		opacity: 1.0;
	}

	:-moz-placeholder {
		color: #999 !important;
		opacity: 1.0;
	}

	::-moz-placeholder {
		color: #999 !important;
		opacity: 1.0;
	}

	:-ms-input-placeholder {
		color: #999 !important;
		opacity: 1.0;
	}

	.formerize-placeholder {
		color: #999 !important;
		opacity: 1.0;
	}

/* Box */

	.box {
		background: #fff;
		border-radius: 6px;
		box-shadow: 0 2px 0 0 #e5e5e5;
		margin: 0 0 2em 0;
		padding: 3em;
	}
	
	.box p {
		margin:0;
		margin-bottom:0.5em;
	}

		.box > :last-child {
			margin-bottom: 0;
		}

		.box.alt {
			background: none !important;
			border-radius: 0 !important;
			box-shadow: none !important;
			margin: 0 0 2em 0;
			padding: 0 !important;
		}

		.box.features .features-row {
			border-top: solid 2px #e5e5e5;
			position: relative;
		}

			.box.features .features-row:after {
				clear: both;
				content: '';
				display: block;
			}

			.box.features .features-row section {
				float: left;
				padding: 3em;
				width: 50%;
			}

				.box.features .features-row section :last-child {
					margin-bottom: 0;
				}

				.box.features .features-row section:nth-child(2n) {
					padding-right: 0;
				}

					.box.features .features-row section:nth-child(2n):before {
						background: #e5e5e5;
						content: '';
						display: block;
						height: 100%;
						margin-left: -3em;
						position: absolute;
						top: 0;
						width: 2px;
					}

				.box.features .features-row section:nth-child(2n-1) {
					padding-left: 0;
				}

			.box.features .features-row:first-child {
				border-top: 0;
			}

				.box.features .features-row:first-child section {
					padding-top: 0;
				}

			.box.features .features-row:last-child {
				padding-bottom: 0;
			}

				.box.features .features-row:last-child section {
					padding-bottom: 0;
				}

		.box.special {
			text-align: center;
		}

		.box .image.featured {
			border-radius: 0;
			display: block;
			margin: 3em 0 3em -3em;
			position: relative;
			width: calc(100% + 6em);
		}

			.box .image.featured img {
				border-radius: 0;
				display: block;
				width: 100%;
				display:none;
			}

			.box .image.featured:first-child {
				border-radius: 6px 6px 0 0;
				margin-bottom: 3em;
				margin-top: -3em;
			}

				.box .image.featured:first-child img {
					border-radius: 6px 6px 0 0;
				}

			.box .image.featured:last-child {
				border-radius: 0 0 6px 6px;
				margin-bottom: -3em;
				margin-top: 1.5em;
			}

				.box .image.featured:last-child img {
					border-radius: 0 0 6px 6px;
				}

			.box h3 {
				font-weight:700;
			}
			
			.box h4 {
				font-size:160%;
				font-weight:700;
				color:#71BF45;
				margin-top:-0.5em;
			}
			
			.box h4 i {
				color:#71BF45;
				margin-right:0.5em;
				font-size:90%;
			}
			
			.box p.heure {
				font-weight:700;
				font-size:140%;
				line-height:1em;
				margin-top:0.5em;
				text-align:center;
			}
			.box p.heure:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			text-transform: none !important;
			content: "\f017";
			margin-right:0.4em;
			font-size:1.4em;	
			position:relative;
			bottom:-0.1em;	
			font-weight:300;
			opacity:0.6;
			}

			.box.plenary p i {
			font-size:0.9em !important;
			margin-right:4px !important;
			color: #71BF45 !important;
			}
			.box.plenary h3, .box.plenary h4, p.tracks {text-align:center}
			.box.plenary h4 {font-size:120%}
			p.tracks i {margin-left:0.8em}
			
			
/* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

		.icon.major {
			background: #666;
			border-radius: 100%;
			color: #ffffff;
			cursor: default;
			display: inline-block;
			height: 5.5em;
			line-height: 5.5em;
			margin: 0 0 2em 0;
			width: 5.5em;
		}

			.icon.major:before {
				font-size: 2.5em;
			}

			.icon.major.accent1 {
				background: #666;
				color: #ffffff;
			}

			.icon.major.accent2 {
				background: rgba(113,191,69,1);
				color: #ffffff;
			}

			.icon.major.accent3 {
				background: #6dd3d9;
				color: #ffffff;
			}

			.icon.major.accent4 {
				background: #8ec3ec;
				color: #ffffff;
			}

			.icon.major.accent5 {
				background: #f4bc8a;
				color: #ffffff;
			}

			.boxicon {
				float:left;
				font-size:1em;
				color:#71BF45;
				margin-right:0.5em
			}

			
/* Image */

	.image {
		border-radius: 6px;
		border: 0;
		display: inline-block;
		position: relative;
	}

		.image img {
			border-radius: 6px;
			display: block;
		}

		.image.left {
			float: left;
			padding: 0 1.5em 1em 0;
			top: 0.25em;
		}

		.image.right {
			float: right;
			padding: 0 0 1em 1.5em;
			top: 0.25em;
		}

		.image.fit {
			display: block;
			margin: 0 0 2em 0;
			width: 100%;
		}

			.image.fit img {
				display: block;
				width: 100%;
			}

/* List */

	ol {
		list-style: decimal;
		margin: 0 0 2em 0;
		padding-left: 1.25em;
	}

		ol li {
			padding-left: 0.25em;
		}

	ul {
		list-style: disc;
		margin: 0 0 2em 0;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
		}

		ul.alt {
			list-style: none;
			padding-left: 0;
		}

			ul.alt li {
				border-top: solid 1px #e5e5e5;
				padding: 0.5em 0;
			}

				ul.alt li:first-child {
					border-top: 0;
					padding-top: 0;
				}

		ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.icons li {
				display: inline-block;
				padding: 0 1.25em 0 0;
			}

				ul.icons li:last-child {
					padding-right: 0;
				}

				ul.icons li .icon {
					color: inherit;
				}

					ul.icons li .icon:before {
						font-size: 1.75em;
					}
					
					/* Logos */
						.sponsor {	
							width:164px;
							height:75px;
							display:inline-block;
							-webkit-filter: grayscale(0%);
							-moz-filter: grayscale(0%);
							-ms-filter: grayscale(0%);
							-o-filter: grayscale(0%);
							filter: grayscale(0%);
							filter: none; /* IE 6-9 */
							transition: all .2s ease-in-out;
							margin:1em;	
						}
						.sponsor:hover {	
							display:inline-block;
							transform: scale(1.05);
							border-bottom: 2px solid #71BF45;
						}
						
						ul.icons li .icon.aquaterra, .icon.aquaterra  {
							background:url(/images/sponsors/aquaterra.png);	
						}
						ul.icons li .icon.aiv, .icon.aiv  {
							background:url(/images/sponsors/aiv.png);	
						}
						ul.icons li .icon.bdu, .icon.bdu  {
							background:url(/images/sponsors/bdu.jpg);	
						}
						ul.icons li .icon.champs-libres, .icon.champs-libres  {
							background:url(/images/sponsors/champs-libres.png);	
						}
						ul.icons li .icon.osgeobe, .icon.osgeobe  {
							background:url(/images/osgeo-be-small.svg);	
						}
						ul.icons li .icon.osm, .icon.osm  {
							background:url(/images/osm.png);	
						}
						ul.icons li .icon.realdolmen, .icon.realdolmen  {
							background:url(/images/sponsors/realdolmen.png);	
						}
						ul.icons li .icon.geosparc, .icon.geosparc  {
							background:url(/images/sponsors/geosparc.png);	
						}
						ul.icons li .icon.atelier, .icon.atelier  {
							background:url(/images/sponsors/atelier-cartographique.png);	
						}
						ul.icons li .icon.idgeo , .icon.idgeo {
							background:url(/images/sponsors/idgeo.png);
						}
						ul.icons li .icon.merkator , .icon.merkator {
							background:url(/images/sponsors/merkator.png);
						}
						ul.icons li .icon.neogeo , .icon.neogeo {
							background:url(/images/sponsors/neogeo.png);
						}
						ul.icons li .icon.innoviris , .icon.innoviris {
							background:url(/images/sponsors/innoviris.png);
						}
						ul.icons li .icon.oslandia, .icon.oslandia  {
							background:url(/images/sponsors/oslandia.png);
						}
						ul.icons li .icon.poppy , .icon.poppy {
							background:url(/images/sponsors/poppy.png);
						}
						ul.icons li .icon.bxlenv, .icon.bxlenv  {
							background:url(/images/sponsors/bxlenv.png);
						}
						ul.icons li .icon.checksum, .icon.checksum  {
							background:url(/images/sponsors/checksum.png);
						}
						ul.icons li .icon.c2c, .icon.c2c  {
							background:url(/images/sponsors/C2C.png);
						}
						ul.icons li .icon.gim, .icon.gim {
							background:url(/images/sponsors/gim.png);
						}
						ul.icons li .icon.cirb, .icon.cirb  {
							background:url(/images/sponsors/cirb.png);
						}
						ul.icons li .icon.geosolutions, .icon.geosolutions {
							background:url(/images/sponsors/geosolutions.jpg);
						}
						ul.icons li .icon.geobusinet, .icon.geobusinet{
							background:url(/images/sponsors/geobusinet.png);
						}
						ul.icons li .icon.igeat, .icon.igeat{
							background:url(/images/sponsors/igeat.gif);
						}
						ul.icons li .icon.ngi, .icon.ngi{
							background:url(/images/sponsors/ngi.png);
						}
						ul.icons li .icon.gsw, .icon.gsw{
							background:url(/images/sponsors/gsw.jpg);
						}
						ul.icons li .icon.realdolmen, .icon.realdolmen{
							background:url(/images/sponsors/realdolmen.png);
						}
						ul.icons li .icon.geode, .icon.geode{
							background:url(/images/sponsors/geode.png);
						}
						ul.icons li .icon.aquaterra, ul.icons li .icon.aiv, ul.icons li .icon.champs-libres, ul.icons li .icon.osgeobe, ul.icons li .icon.osm,  ul.icons li .icon.geosparc, ul.icons li .icon.idgeo, ul.icons li .icon.atelier, ul.icons li .icon.oslandia, ul.icons li .icon.poppy, ul.icons li .icon.bxlenv, ul.icons li .icon.checksum, ul.icons li .icon.merkator, ul.icons li .icon.c2c, ul.icons li .icon.gim, ul.icons li .icon.cirb,ul.icons li .icon.geosolutions, ul.icons li .icon.neogeo, ul.icons li .icon.igeat, ul.icons li .icon.geobusinet, ul.icons li .icon.gsw, ul.icons li .icon.bdu, ul.icons li .icon.realdolmen, ul.icons li .icon.geode, ul.icons li .icon.innoviris, ul.icons li .icon.ngi{	
							width:164px;
							height:75px;
							display:inline-block;
							-webkit-filter: grayscale(100%);
							-moz-filter: grayscale(100%);
							-ms-filter: grayscale(100%);
							-o-filter: grayscale(100%);
							filter: grayscale(100%);
							filter: gray; /* IE 6-9 */
						}
						ul.icons li .icon.aquaterra:hover, ul.icons li .icon.aiv:hover,ul.icons li .icon.champs-libres:hover, ul.icons li .icon.osgeobe:hover, ul.icons li .icon.osm:hover, ul.icons li .icon.geosparc:hover,ul.icons li .icon.idgeo:hover, ul.icons li .icon.oslandia:hover, ul.icons li .icon.poppy:hover, ul.icons li .icon.bxlenv:hover, ul.icons li .icon.checksum:hover,ul.icons li .icon.cirb:hover,ul.icons li .icon.geosolutions:hover, ul.icons li .icon.gim:hover,ul.icons li .icon.merkator:hover,ul.icons li .icon.neogeo:hover, ul.icons li .icon.igeat:hover, ul.icons li .icon.geobusinet:hover, ul.icons li .icon.gsw:hover, ul.icons li .icon.bdu:hover, ul.icons li .icon.realdolmen:hover, ul.icons li .icon.geode:hover, ul.icons li .icon.innoviris:hover{
							-webkit-filter: grayscale(0%);
							-moz-filter: grayscale(0%);
							-ms-filter: grayscale(0%);
							-o-filter: grayscale(0%);
							filter: grayscale(0%);
							filter: none; /* IE 6-9 */
						}


		ul.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.actions li {
				display: inline-block;
				padding: 0 1em 0 0;
				vertical-align: middle;
			}

				ul.actions li:last-child {
					padding-right: 0;
				}

			ul.actions.small li {
				padding: 0 0.5em 0 0;
			}

			ul.actions.vertical li {
				display: block;
				padding: 1em 0 0 0;
			}

				ul.actions.vertical li:first-child {
					padding-top: 0;
				}

				ul.actions.vertical li > * {
					margin-bottom: 0;
				}

			ul.actions.vertical.small li {
				padding: 0.5em 0 0 0;
			}

				ul.actions.vertical.small li:first-child {
					padding-top: 0;
				}

			ul.actions.fit {
				display: table;
				margin-left: -1em;
				padding: 0;
				table-layout: fixed;
				width: calc(100% + 1em);
			}

				ul.actions.fit li {
					display: table-cell;
					padding: 0 0 0 1em;
				}

					ul.actions.fit li > * {
						margin-bottom: 0;
					}

				ul.actions.fit.small {
					margin-left: -0.5em;
					width: calc(100% + 0.5em);
				}

					ul.actions.fit.small li {
						padding: 0 0 0 0.5em;
					}

	dl {
		margin: 0 0 2em 0;
	}

/* Table */

	.table-wrapper {
		-webkit-overflow-scrolling: touch;
		overflow-x: auto;
	}

	table {
		margin: 0 0 2em 0;
		width: 100%;
	}

		table tbody tr {
			border: solid 1px #e5e5e5;
			border-left: 0;
			border-right: 0;
		}

			table tbody tr:nth-child(2n + 1) {
				background-color: #f8f8f8;
			}

		table td {
			padding: 0.75em 0.75em;
		}

		table th {
			color: #646464;
			font-size: 0.9em;
			font-weight: 300;
			padding: 0 0.75em 0.75em 0.75em;
			text-align: left;
		}

		table thead {
			border-bottom: solid 2px #e5e5e5;
		}

		table tfoot {
			border-top: solid 2px #e5e5e5;
		}

		table.alt {
			border-collapse: separate;
			empty-cells: hide;
		}

			table.alt tbody tr td {
				border: solid 1px #e5e5e5;
				border-left-width: 0;
				border-top-width: 0;
			}

				table.alt tbody tr td:first-child {
					border-left-width: 1px;
					font-weight:400;
				}
				table.alt tbody tr td:nth-last-child(1),table.alt tbody tr td:nth-child(1),
				table.alt thead tr th:nth-last-child(1),table.alt thead tr th:nth-child(1) {
					text-align:center;
				}
				table.alt tbody tr td i:after {
					margin-left:0.4em;
					content: '';
				}
				table.alt a:after, table.alt a:before {
					position: relative;
					opacity: 0;
					margin-right: -4px;
					margin-left:-4px;
					-webkit-transition: all 1s;
					transition: all 1s;
					font-weight:700;
				}
				table.alt a:before {
					content:'[ ';
				}
				table.alt a:after {
					content:' ]';
				}
				table.alt a:hover:after {
					opacity: 1;
					margin-left: 4px;
				}
				table.alt a:hover:before {
					opacity: 1;
					margin-right: 5px;
				}								
			table.alt tbody tr:first-child td {
				border-top-width: 1px;
			}

			table.alt thead {
				border-bottom: 0;
			}

			table.alt tfoot {
				border-top: 0;
			}
			table.alt tbody tr td.talk {
				font-weight:300;
			}
			table.alt tbody tr.blanc {
			background-color: #fff;
			}
			table.alt tbody tr.blanc.dwnld td:first-child {
			color:#dedede;
			}
			
			table.alt tbody tr.gris {
			background-color: #f8f8f8
			}
			table.alt tbody tr.progr-1 td {
				color:#3F6769;
			}
			table.alt tbody tr.progr-2 td {
				color:#3F6769;
				background:#DCEFD1;
				font-weight:400;
			}
			table.alt tbody tr.progr-2 td i {
				margin-left:0.3em
			}
			table.alt tbody tr td.progr-3 {
				text-align:left;
				padding-left:30px
			}
			table.alt tbody tr td span.author {

				float:left;
				font-weight:300;
				padding-left:0.2em;
				font-size:80%;
			}
			table.alt tbody tr td span.author:before {			
				content: '\f19d';
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				margin-right:0.2em;
				font-size:80%;
			}
			table.alt tbody tr td h4 {font-size:100%;margin-top:0.3em;margin-bottom:0.3em}
			
/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		background-color: #666;
		border-radius: 6px;
		border: 0;
		color: #ffffff;
		cursor: pointer;
		display: inline-block;
		font-weight: 400;
		height: 3em;
		line-height: 3em;
		padding: 0 2em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		.button:hover {
			background-color: #737373;
		}

		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		.button:active {
			background-color: #595959;
		}

		input[type="submit"].icon,
		input[type="reset"].icon,
		input[type="button"].icon,
		.button.icon {
			padding-left: 1.35em;
		}

			input[type="submit"].icon:before,
			input[type="reset"].icon:before,
			input[type="button"].icon:before,
			.button.icon:before {
				margin-right: 0.5em;
			}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		.button.fit {
			display: block;
			margin: 0 0 1em 0;
			width: 100%;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		.button.small {
			font-size: 0.8em;
			height: 2.7em;
			line-height: 2.7em;
		}

		input[type="submit"].big,
		input[type="reset"].big,
		input[type="button"].big,
		.button.big {
			font-size: 1.25em;
			height: 2.7em;
			line-height: 2.7em;
		}

		input[type="submit"].alt,
		input[type="reset"].alt,
		input[type="button"].alt,
		.button.alt {
			background-color: transparent;
			box-shadow: inset 0 0 0 2px #e5e5e5;
			color: #777;
		}

			input[type="submit"].alt:hover,
			input[type="reset"].alt:hover,
			input[type="button"].alt:hover,
			.button.alt:hover {
				background-color: #f8f8f8;
			}

			input[type="submit"].alt:active,
			input[type="reset"].alt:active,
			input[type="button"].alt:active,
			.button.alt:active {
				background-color: #f0f0f0;
			}

			input[type="submit"].alt.icon:before,
			input[type="reset"].alt.icon:before,
			input[type="button"].alt.icon:before,
			.button.alt.icon:before {
				color: #999;
			}

		input[type="submit"].special,
		input[type="reset"].special,
		input[type="button"].special,
		.button.special {
			background-color: #ecaa96;
			color: #ffffff !important;
			margin:0.4em;
		}

			input[type="submit"].special:hover,
			input[type="reset"].special:hover,
			input[type="button"].special:hover,
			.button.special:hover {
				background-color: #e4886a;
			}

			input[type="submit"].special:active,
			input[type="reset"].special:active,
			input[type="button"].special:active,
			.button.special:active {
				background-color: rgba(113,191,69,1);
			}

		input[type="submit"].specialo,
		input[type="reset"].specialo,
		input[type="button"].specialo,
		.button.specialo {
			background-color: #2C3E50;
			color: #ffffff !important;
		}

			input[type="submit"].specialo:hover,
			input[type="reset"].specialo:hover,
			input[type="button"].specialo:hover,
			.button.specialo:hover {
				background-color: rgba(113,191,69,1);
			}

			input[type="submit"].specialo:active,
			input[type="reset"].specialo:active,
			input[type="button"].specialo:active,
			.button.specialo:active {
				background-color: #e4886a;
			}
		
		input[type="submit"].platinium,
		input[type="reset"].platinium,
		input[type="button"].platinium,
		.button.platinium {
			background-color: #e5e4e2;
			color: #34495E !important;
			margin:0.4em;
		}

			input[type="submit"].platinium:hover,
			input[type="reset"].platinium:hover,
			input[type="button"].platinium:hover,
			.button.platinium:hover {
				background-color: rgba(113,191,69,1);
			}

			input[type="submit"].platinium:active,
			input[type="reset"].platinium:active,
			input[type="button"].platinium:active,
			.button.platinium:active {
				background-color: #e4886a;
			}
			input[type="submit"].gold,
			input[type="reset"].gold,
			input[type="button"].gold,
			.button.gold {
				background-color: #ffd700;
				color: #34495E !important;
				margin:0.4em;
			}

				input[type="submit"].gold:hover,
				input[type="reset"].gold:hover,
				input[type="button"].gold:hover,
				.button.gold:hover {
					background-color: rgba(113,191,69,1);
				}

				input[type="submit"].gold:active,
				input[type="reset"].gold:active,
				input[type="button"].gold:active,
				.button.gold:active {
					background-color: #e4886a;
				}
				input[type="submit"].silver,
				input[type="reset"].silver,
				input[type="button"].silver,
				.button.silver {
					background-color: #c0c0c0;
					color: #34495E !important;
					margin:0.4em;
				}

					input[type="submit"].silver:hover,
					input[type="reset"].silver:hover,
					input[type="button"].silver:hover,
					.button.silver:hover {
						background-color: rgba(113,191,69,1);
					}

					input[type="submit"].silver:active,
					input[type="reset"].silver:active,
					input[type="button"].silver:active,
					.button.silver:active {
						background-color: #e4886a;
					}
				input[type="submit"].bronze,
				input[type="reset"].bronze,
				input[type="button"].bronze,
				.button.bronze {
					background-color: #cd7f32;
					color: #34495E !important;
					margin:0.4em;
				}

					input[type="submit"].bronze:hover,
					input[type="reset"].bronze:hover,
					input[type="button"].bronze:hover,
					.button.bronze:hover {
						background-color: rgba(113,191,69,1);
					}

					input[type="submit"].bronze:active,
					input[type="reset"].bronze:active,
					input[type="button"].bronze:active,
					.button.bronze:active {
						background-color: #e4886a;
					}
			
		input[type="submit"].disabled, input[type="submit"]:disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		.button.disabled,
		.button:disabled {
			background-color: #777 !important;
			box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
			color: #f5f5f5 !important;
			cursor: default;
			opacity: 0.25;
		}

/* Header */

	#skel-layers-wrapper {
		padding-top: 3em;
	}

	body.landing #skel-layers-wrapper {
		padding-top: 0;
	}
	@-moz-keyframes reveal-header { 0% { top: -5em; } 100% { top: 0; } }
	@-webkit-keyframes reveal-header { 0% { top: -5em; } 100% { top: 0; } }
	@-o-keyframes reveal-header { 0% { top: -5em; } 100% { top: 0; } }
	@-ms-keyframes reveal-header { 0% { top: -5em; } 100% { top: 0; } }
	@keyframes reveal-header { 0% { top: -5em; } 100% { top: 0; } }

	#header {
		background: rgba(113,191,69,1);
		color: #bbb;
		cursor: default;
		height: 3.25em;
		left: 0;
		line-height: 3.25em;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10000;
	}

		#header h1 {
			color: rgba(63,103,106,1);
			font-weight: 700;
			text-shadow: 0px 1px 0px rgba(255,255,255,.5);
			height: inherit;
			left: 1.25em;
			line-height: inherit;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
		}
		
			#header h1 .foss4g {
			width:2vw;
			display:inline-block;
			 background-image: url(/images/chapeau-melon.svg);
			 background-size: 3vh;
 			 background-repeat: no-repeat;
			 background-position: 14px 11px;
			 min-height: 4vh;
			 z-index:-99;
			 opacity:0.6;
			 margin-left: -65px;
			 margin-right: 44px;
			 text-shadow: none;
		}

			#header h1 a {
				color: #fff;
				font-weight: 400;
				border: 0;
			}
			#header h1 span {
				font-weight:600
			}
			#header h1 sub {
				font-size:80%
			}
			
		#header nav {
			height: inherit;
			line-height: inherit;
			position: absolute;
			right: 0.75em;
			top: 0;
			vertical-align: middle;
		}

			#header nav > ul {
				list-style: none;
				margin: 0;
				padding-left: 0;
			}

				#header nav > ul > li {
					display: inline-block;
					padding-left: 0;
				}

					#header nav > ul > li > ul {
						display: none;
					}

					#header nav > ul > li a {
						display: inline-block;
						height: 2em;
						line-height: 1.95em;
						padding: 0 1em;
						border-radius: 6px;
					}
					
					#header nav > ul > li a.azul {
						box-shadow:inset 0 0 0 2px rgba(71,99,158,0.4);
						padding-right:0.2em;
						padding-left:0.6em;
						background:#47639e;
					}
					
					#header nav > ul > li a.azulito {
						box-shadow:inset 0 0 0 2px rgba(71,99,158,0.4);
						padding-right:0em;
						padding-left:0.5em;
						background:#55acee;
					}

					#header nav > ul > li a:not(.button) {
						color: #fff;
						display: inline-block;
						text-decoration: none;
						border: 0;
					}

						#header nav > ul > li a:not(.button).icon:before {
							margin-right: 0.5em;
						}

					#header nav > ul > li:first-child {
						margin-left: 0;
					}

					#header nav > ul > li.active a:not(.button) {
						background-color: rgba(153, 153, 153, 0.25);
					}

					#header nav > ul > li .button {
						margin: 0 0 0 0.5em;
						position: relative;
					}

		#header input[type="submit"],
		#header input[type="reset"],
		#header input[type="button"],
		#header .button {
			background-color: transparent;
			box-shadow: inset 0 0 0 2px #999;
			color: #fff;
		}

			#header input[type="submit"]:hover,
			#header input[type="reset"]:hover,
			#header input[type="button"]:hover,
			#header .button:hover {
				background-color: rgba(153, 153, 153, 0.25);
			}

			#header input[type="submit"]:active,
			#header input[type="reset"]:active,
			#header input[type="button"]:active,
			#header .button:active {
				background-color: rgba(153, 153, 153, 0.5);
			}

		#header .container {
			position: relative;
		}

			#header .container h1 {
				left: 0;
			}

			#header .container nav {
				right: 0;
			}

		#header.reveal {
			-moz-animation: reveal-header 0.5s;
			-webkit-animation: reveal-header 0.5s;
			-o-animation: reveal-header 0.5s;
			-ms-animation: reveal-header 0.5s;
			animation: reveal-header 0.5s;
		}

		#header.alt {
			-moz-animation: none;
			-webkit-animation: none;
			-o-animation: none;
			-ms-animation: none;
			animation: none;
			background: none;
			color: rgba(255, 255, 255, 0.75);
			position: absolute;
		}

			#header.alt nav > ul > li a:not(.button).icon:before {
				color: rgba(255, 255, 255, 0.75);
			}

			#header.alt nav > ul > li.active a:not(.button) {
				background-color: rgba(255, 255, 255, 0.2);
			}

			#header.alt input[type="submit"],
			#header.alt input[type="reset"],
			#header.alt input[type="button"],
			#header.alt .button {
				box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5);
			}

				#header.alt input[type="submit"]:hover,
				#header.alt input[type="reset"]:hover,
				#header.alt input[type="button"]:hover,
				#header.alt .button:hover {
					background-color: rgba(255, 255, 255, 0.1);
				}

				#header.alt input[type="submit"]:active,
				#header.alt input[type="reset"]:active,
				#header.alt input[type="button"]:active,
				#header.alt .button:active {
					background-color: rgba(255, 255, 255, 0.2);
				}

	.dropotron {
		background: #fff;
		border-radius: 6px;
		box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.065), inset 0 -1px 0 0 #fff, inset 0 0 0 1px rgba(229, 229, 229, 0.5);
		list-style: none;
		margin: calc(-0.5em + 1px) 0 0 1px;
		padding: 0.5em 0;
		width: 11em;
	}

		.dropotron li {
			padding: 0;
		}

			.dropotron li a, .dropotron li span {
				-moz-transition: none;
				-webkit-transition: none;
				-o-transition: none;
				-ms-transition: none;
				transition: none;
				border: 0;
				border-top: solid 1px #f2f2f2;
				color: inherit;
				display: block;
				padding: 0.15em 1em;
			}

			.dropotron li:first-child > a, .dropotron li:first-child > span {
				border-top: 0;
			}

			.dropotron li.active > a, .dropotron li.active > span, .dropotron li:hover > a, .dropotron li:hover > span {
				background: rgba(113,191,69,1);
				color: #ffffff;
			}

		.dropotron.level-0 {
			font-size: 0.9em;
			margin: 1em 0 0 0;
		}

			.dropotron.level-0:before {
				-moz-transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
				background: #fff;
				border: solid 1px rgba(229, 229, 229, 0.5);
				border-bottom: 0;
				border-right: 0;
				box-shadow: -0.25em -0.125em 0.125em 0 rgba(0, 0, 0, 0.015);
				content: '';
				display: block;
				height: 0.75em;
				position: absolute;
				right: 1.25em;
				top: -0.375em;
				width: 0.75em;
				z-index: 0;
			}

/* Banner */

	#banner {
		background-attachment: scroll, fixed;
		background-color: #666;
		background-image: url("images/overlay.png"), url("/images/banner.jpg");
		background-position: top left, center center;
		background-repeat: repeat, no-repeat;
		background-size: auto, cover;
		color: #fff;
		padding: 10em 0 20em 0;
		text-align: center;
	}

		#banner :last-child {
			margin-bottom: 0;
		}

		#banner .foss4g {
			width:10vw;
			display:inline-block;
			 background-image: url(/images/chapeau-melon.svg);
			 background-size: 20vh;
 			 background-repeat: no-repeat;
			 background-position: 3vw 0vh;
			 min-height: 10vh;
			 z-index:-99;
			 opacity:0.8;
		}
		#banner img {		
			width:70vh;
			margin-top:-10vh
		}
		
		#banner h2, #banner h3, #banner h4, #banner h5, #banner h6 {
			color: #fff;
		}

		#banner h2 {
			font-family: "Source Sans Pro", serif;
			font-weight:900;
			margin: 0 0 0 0;
			padding: 0;
			font-size: 17vh !important;
			line-height: 14vh;
			background-color: transparent;
			z-index:1;
			margin-top:-5vh;
		}
	
		#banner h2 span:nth-child(1) {
			color:rgba(58,157,0,1);
		}
	
		#banner h2 span:nth-child(2) {
			color:rgba(49,108,41,1);
		}

		#banner h3 {
			font-family: "Source Sans Pro", serif;
			font-weight:900;
			margin: 0 0 0 0;
			padding: 0;
			font-size:9vh;
			line-height: 55%;
			background-color: transparent;
			z-index: 1;
		}
		
		#banner h3 span:nth-child(1) {
			color:rgba(76,76,76,0.6);
		}
		#banner h3 span:nth-child(2) {
			color:rgba(255,255,255,0.7);
		}


		#banner h4, h4.tout {
			font-family: "Satisfy", serif;
			font-weight: 300;
			line-height: 4vh;
			font-size: 4vh;
			color: #000;
			letter-spacing: 0.01em;
			margin-top: 1em;
		}
	
		h4.tout {
		font-size: 22px;
		margin-top:0em;
		}
	
		#banner h4 span:nth-child(2), h4.tout span:nth-child(1){
			color: rgba(227,187,0,1);
			font-size: inherit;
		}
		
		#banner h4 span:nth-child(3), h4.tout span:nth-child(2){
			color: rgba(143,0,0,1);
			font-size: inherit;
		}
		
		#banner h5 {
			font-family: "Source Sans Pro", serif;
			font-weight: 500;
			font-size: 2vh;
			margin-top: 5vh;
		}
		
		#banner p {
			font-size: 1.2em;
			margin-bottom: 4.2em;
			line-height: 1.2em;
			margin-top: 5vh;
		}

		#banner input[type="submit"],
		#banner input[type="reset"],
		#banner input[type="button"],
		#banner .button {
			background-color: transparent;
			box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5);
			color: #fff;
			min-width: 12em;
		}

			#banner input[type="submit"]:hover,
			#banner input[type="reset"]:hover,
			#banner input[type="button"]:hover,
			#banner .button:hover {
				background-color: rgba(255, 255, 255, 0.1);
			}

			#banner input[type="submit"]:active,
			#banner input[type="reset"]:active,
			#banner input[type="button"]:active,
			#banner .button:active {
				background-color: rgba(255, 255, 255, 0.2);
			}

			#banner input[type="submit"].special,
			#banner input[type="reset"].special,
			#banner input[type="button"].special,
			#banner .button.special {
				background: #fff;
				color: #666 !important;
			}

/* Main */

	#main {
		padding: 4em 0;
	}

		#main > header {
			text-align: center;
			margin: 0 0 3em 0;
		}


			#main > header h2 {
				font-size: 2.75em;
				margin: 0;
				font-weight:700;
			}
			
			#main > header h2 sup, #main > header h2 span {
			font-weight:300;
			padding:0.1em;
			font-size:0.5em;
			}
			#main > header h2 sup {
			top:-1em;
			}
			
			

			#main > header p {
				border-top: solid 2px #e5e5e5;
				color: #777;
				display: inline-block;
				font-style: normal;
				margin: 1em 0 0 0;
				padding: 1em 0 1.25em 0;
			}

	body.landing #main {
		margin-top: -14em;
	}
	.nav.bottom {
		text-align:center;
	}
	.nav.bottom a {font-size:1em;margin:0.5em;}

	.nav.bottom prev:before  {
		opacity:0.8;
		content:'\f0a8';
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-transform: none !important;
		text-decoration:none;
	}
	.nav.bottom next:before {
		opacity:0.8;
		content:'\f0a9';
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-transform: none !important;
		text-decoration:none;
	}
	.nav.bottom a:hover {opacity:1;}
	
/* Footer */

	#footer {
		background: #f0f0f0;
		padding: 4em 0 6em 0;
		text-align: center;
	}

		#footer .icons a {
			-moz-transition: opacity 0.2s ease-in-out;
			-webkit-transition: opacity 0.2s ease-in-out;
			-o-transition: opacity 0.2s ease-in-out;
			-ms-transition: opacity 0.2s ease-in-out;
			transition: opacity 0.2s ease-in-out;
			opacity: 0.35;
		}

			#footer .icons a:hover {
				opacity: 0.75;
			}

		#footer .copyleft {
			color: #999;
			font-size: 0.9em;
			line-height: 1em;
			margin: 2em 0 0 0;
			padding: 0;
			text-align: center;
		}

			#footer .copyleft a {
				color: inherit;
			}

			#footer .copyleft li {
				border-left: solid 1px #dddddd;
				display: inline-block;
				list-style: none;
				margin-left: 1em;
				padding-left: 1em;
			}

				#footer .copyleft li:first-child {
					border-left: 0;
					margin-left: 0;
					padding-left: 0;
				}
				#footer .copyleft li i {
					font-size:80%
				}

/* CTA */

	#cta {
		background: rgba(113,191,69,1);
		color: #ddf2e9;
		padding: 2.5em 0 1.5em 0;
		text-align: center;
	}

		#cta h2, #cta h3, #cta h4, #cta h5, #cta h6 {
			color: inherit;
		}

		#cta form {
			margin: 0 auto;
			max-width: 100%;
			width: 25em;
		}

		#cta input[type="submit"],
		#cta input[type="reset"],
		#cta input[type="button"],
		#cta .button {
			box-shadow: none;
			background: #fff;
			color: rgba(113,191,69,1);
		}

		#cta input[type="text"],
		#cta input[type="password"],
		#cta input[type="email"],
		#cta select,
		#cta textarea {
			color: #ffffff;
			background: rgba(255, 255, 255, 0.15);
			border: 0;
		}

			#cta input[type="text"]:focus,
			#cta input[type="password"]:focus,
			#cta input[type="email"]:focus,
			#cta select:focus,
			#cta textarea:focus {
				box-shadow: inset 0 0 0 2px #fff;
			}

		#cta ::-webkit-input-placeholder {
			color: rgba(255, 255, 255, 0.75) !important;
		}

		#cta :-moz-placeholder {
			color: rgba(255, 255, 255, 0.75) !important;
		}

		#cta ::-moz-placeholder {
			color: rgba(255, 255, 255, 0.75) !important;
		}

		#cta :-ms-input-placeholder {
			color: rgba(255, 255, 255, 0.75) !important;
		}

		#cta .formerize-placeholder {
			color: rgba(255, 255, 255, 0.75) !important;
		}

		
/* logos */
.logo a {text-decoration:none}
.logo img{ 
	position:relative;
    -webkit-transition: all 2.6s ease;  /* Transition for Webkit browsers */
	height: 5em;
	float:left;
	top:-1em;
}

.universite img{
-webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    1px 1px 2px 0px rgba(50, 50, 50, 0.75);
box-shadow:  1px 1px 2px 0px rgba(50, 50, 50, 0.75);
margin-right:0.4em;
width:3em;
}
h4.universite {
color: #646464;
vertical-align: top;
}

/* maps */
.map {
        height: 400px;
        width: 100%;
		margin-bottom:5em;
		clear:both;

}
.map2 {
        height: 400px;
        width: 100%;
		margin-bottom:1em;
}
.map3 {
	float:right;
	padding-left:0.5em;
	display:box;
}



blockquote.ol3 {
		border-left: solid 4px #e5e5e5;
		font-style: normal;
		margin: 0 0 0 0;
		padding: 0.5em 0.5em 0.65em 1em;
		float:left
	}
blockquote.ol3r {
		border-right: solid 4px #e5e5e5;
		border-left:none;
		font-style: normal;
		margin: 0 0 0 0;
		padding: 0.5em 0.5em 1.2em 1em;
		float:right;
		text-align:right;
		line-height:1.4em;
	}
	
.speech {
	display: block;
	height: 3em;
	font-size:96%;
	}
	
a.pluss {float:right;background:whitesmoke;padding-left: 1.5em;padding-right: 1.5em;border: 1px solid #e5e5e5;}

a.pluss:hover, a.pluss:focus{color:#71BF45;background:whitesmoke}

a.pluss:before, a.pluss:after {content:' ' !important;}




.toggled {
		padding:10px;
		-webkit-font-smoothing: antialiased;
		margin-top:2em;
		display:block;
		font-style: oblique;
		text-rendering: optimizeLegibility;
		font-size:80%;
		background: #f8f8f8;
		border-left: solid 4px #71BF45;
		padding-top:1em;
		}
		
  .toggled a {
    color: #fff; }
    .toggled a:hover {
      background: #fff;
      color: black; }

	.cc_btn, .cc_btn_accept_all {
	background-color: #3A9D00 !important;
	color:white !important;
	}
	
	.cc_more_info {
	font-size:80%;
	position:absolute;
	bottom: 2px;
	border-bottom: 0px !important;
	}
	
	.cc_container a, .cc_container a:visited {
	margin-top:10px !important;
	}
	
/*
	Alpha by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
	Modications for FOSS4G by @marcospeebles under the wtfpl
*/




/* bootstrap buttons */
.btn{display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:4px}.btn.active:focus,.btn:active:focus,.btn:focus{outline:dotted thin;outline:-webkit-focus-ring-color auto 5px;outline-offset:-2px}.btn:focus,.btn:hover{color:#333;text-decoration:none}.btn.active,.btn:active{background-image:none;outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125)}.btn.disabled,.btn[disabled],fieldset[disabled] .btn{pointer-events:none;cursor:not-allowed;filter:alpha(opacity=65);-webkit-box-shadow:none;box-shadow:none;opacity:.65}.btn-default{color:#333;background-color:#fff;border-color:#ccc}.btn-default.active,.btn-default:active,.btn-default:focus,.btn-default:hover,.open>.dropdown-toggle.btn-default{color:#333;background-color:#e6e6e6;border-color:#adadad}.btn-default.active,.btn-default:active,.open>.dropdown-toggle.btn-default{background-image:none}.btn-default.disabled,.btn-default.disabled.active,.btn-default.disabled:active,.btn-default.disabled:focus,.btn-default.disabled:hover,.btn-default[disabled],.btn-default[disabled].active,.btn-default[disabled]:active,.btn-default[disabled]:focus,.btn-default[disabled]:hover,fieldset[disabled] .btn-default,fieldset[disabled] .btn-default.active,fieldset[disabled] .btn-default:active,fieldset[disabled] .btn-default:focus,fieldset[disabled] .btn-default:hover{background-color:#fff;border-color:#ccc}.btn-default .badge{color:#fff;background-color:#333}.btn-primary{color:#fff;background-color:#428bca;border-color:#357ebd}.btn-primary.active,.btn-primary:active,.btn-primary:focus,.btn-primary:hover,.open>.dropdown-toggle.btn-primary{color:#fff;background-color:#3071a9;border-color:#285e8e}.btn-primary.active,.btn-primary:active,.open>.dropdown-toggle.btn-primary{background-image:none}.btn-primary.disabled,.btn-primary.disabled.active,.btn-primary.disabled:active,.btn-primary.disabled:focus,.btn-primary.disabled:hover,.btn-primary[disabled],.btn-primary[disabled].active,.btn-primary[disabled]:active,.btn-primary[disabled]:focus,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary,fieldset[disabled] .btn-primary.active,fieldset[disabled] .btn-primary:active,fieldset[disabled] .btn-primary:focus,fieldset[disabled] .btn-primary:hover{background-color:#428bca;border-color:#357ebd}.btn-primary .badge{color:#428bca;background-color:#fff}.btn-success{color:#fff;background-color:#5cb85c;border-color:#4cae4c}.btn-success.active,.btn-success:active,.btn-success:focus,.btn-success:hover,.open>.dropdown-toggle.btn-success{color:#fff;background-color:#449d44;border-color:#398439}.btn-success.active,.btn-success:active,.open>.dropdown-toggle.btn-success{background-image:none}.btn-success.disabled,.btn-success.disabled.active,.btn-success.disabled:active,.btn-success.disabled:focus,.btn-success.disabled:hover,.btn-success[disabled],.btn-success[disabled].active,.btn-success[disabled]:active,.btn-success[disabled]:focus,.btn-success[disabled]:hover,fieldset[disabled] .btn-success,fieldset[disabled] .btn-success.active,fieldset[disabled] .btn-success:active,fieldset[disabled] .btn-success:focus,fieldset[disabled] .btn-success:hover{background-color:#5cb85c;border-color:#4cae4c}.btn-success .badge{color:#5cb85c;background-color:#fff}.btn-info{color:#fff;background-color:#5bc0de;border-color:#46b8da}.btn-info.active,.btn-info:active,.btn-info:focus,.btn-info:hover,.open>.dropdown-toggle.btn-info{color:#fff;background-color:#31b0d5;border-color:#269abc}.btn-info.active,.btn-info:active,.open>.dropdown-toggle.btn-info{background-image:none}.btn-info.disabled,.btn-info.disabled.active,.btn-info.disabled:active,.btn-info.disabled:focus,.btn-info.disabled:hover,.btn-info[disabled],.btn-info[disabled].active,.btn-info[disabled]:active,.btn-info[disabled]:focus,.btn-info[disabled]:hover,fieldset[disabled] .btn-info,fieldset[disabled] .btn-info.active,fieldset[disabled] .btn-info:active,fieldset[disabled] .btn-info:focus,fieldset[disabled] .btn-info:hover{background-color:#5bc0de;border-color:#46b8da}.btn-info .badge{color:#5bc0de;background-color:#fff}.btn-warning{color:#fff;background-color:#f0ad4e;border-color:#eea236}.btn-warning.active,.btn-warning:active,.btn-warning:focus,.btn-warning:hover,.open>.dropdown-toggle.btn-warning{color:#fff;background-color:#ec971f;border-color:#d58512}.btn-warning.active,.btn-warning:active,.open>.dropdown-toggle.btn-warning{background-image:none}.btn-warning.disabled,.btn-warning.disabled.active,.btn-warning.disabled:active,.btn-warning.disabled:focus,.btn-warning.disabled:hover,.btn-warning[disabled],.btn-warning[disabled].active,.btn-warning[disabled]:active,.btn-warning[disabled]:focus,.btn-warning[disabled]:hover,fieldset[disabled] .btn-warning,fieldset[disabled] .btn-warning.active,fieldset[disabled] .btn-warning:active,fieldset[disabled] .btn-warning:focus,fieldset[disabled] .btn-warning:hover{background-color:#f0ad4e;border-color:#eea236}.btn-warning .badge{color:#f0ad4e;background-color:#fff}.btn-danger{color:#fff;background-color:#d9534f;border-color:#d43f3a}.btn-danger.active,.btn-danger:active,.btn-danger:focus,.btn-danger:hover,.open>.dropdown-toggle.btn-danger{color:#fff;background-color:#c9302c;border-color:#ac2925}.btn-danger.active,.btn-danger:active,.open>.dropdown-toggle.btn-danger{background-image:none}.btn-danger.disabled,.btn-danger.disabled.active,.btn-danger.disabled:active,.btn-danger.disabled:focus,.btn-danger.disabled:hover,.btn-danger[disabled],.btn-danger[disabled].active,.btn-danger[disabled]:active,.btn-danger[disabled]:focus,.btn-danger[disabled]:hover,fieldset[disabled] .btn-danger,fieldset[disabled] .btn-danger.active,fieldset[disabled] .btn-danger:active,fieldset[disabled] .btn-danger:focus,fieldset[disabled] .btn-danger:hover{background-color:#d9534f;border-color:#d43f3a}.btn-danger .badge{color:#d9534f;background-color:#fff}.btn-link{font-weight:400;color:#428bca;cursor:pointer;border-radius:0}.btn-link,.btn-link:active,.btn-link[disabled],fieldset[disabled] .btn-link{background-color:transparent;-webkit-box-shadow:none;box-shadow:none}.btn-link,.btn-link:active,.btn-link:focus,.btn-link:hover{border-color:transparent}.btn-link:focus,.btn-link:hover{color:#2a6496;text-decoration:underline;background-color:transparent}.btn-link[disabled]:focus,.btn-link[disabled]:hover,fieldset[disabled] .btn-link:focus,fieldset[disabled] .btn-link:hover{color:#777;text-decoration:none}.btn-group-lg>.btn,.btn-lg{padding:10px 16px;font-size:18px;line-height:1.33;border-radius:6px}.btn-group-sm>.btn,.btn-sm{padding:5px 10px;font-size:12px;line-height:1.5;border-radius:3px}.btn-group-xs>.btn,.btn-xs{padding:1px 5px;font-size:12px;line-height:1.5;border-radius:3px}.btn-block{display:block;width:100%}.btn-block+.btn-block{margin-top:5px}input[type=button].btn-block,input[type=reset].btn-block,input[type=submit].btn-block{width:100%}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.accordion dl {
}

.accordion dt > a {
  text-align: left;
  font-weight: 500;
  padding: 2em;
  margin-left: 1vw;
  display: block;
  text-decoration: none;
  color: #fff;
  -webkit-transition: background-color 0.5s ease-in-out;
}

.accordion dt.spons > a {
  text-align: left;
  font-weight: 500;
  padding: 0.5em;
  margin-left: 1vw;
  display: block;
  text-decoration: none;
  color: #646464;
  -webkit-transition: background-color 0.5s ease-in-out;
}


.accordion dt > a span {
	font-size:0.8em;
	float: right;
}
.accordion dt > a span.spon1:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	content: "\f091 \f091 \f091 \f091";
	margin-right: 0.3em;
	letter-spacing:0.3em;
}
.accordion dt > a span.spon2:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	content: "\f091 \f091 \f091";
	margin-right: 0.3em;
	letter-spacing:0.3em;
}
.accordion dt > a span.spon3:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	content: "\f091 \f091";
	margin-right: 0.3em;
	letter-spacing:0.3em;
}
.accordion dt > a span.spon4:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	content: "\f091";
	margin-right: 0.3em;
	letter-spacing:0.3em;
}

.accordion dd {
  background-color: #fffff;
  color: #fafafa;
  font-size: 1em;
  line-height: 1.5em;
  border: solid rgba(255,255,255,1) 1em;
}
.accordion dd > p {
  padding: 1em 2em 1em 2em;
}

.accordion {
  position: relative;
  background-color: rgba(255,255,255,0.8);
}

.container-x  h4 {
  text-align:center;
}

.accordionTitle {
  background-color: #71BF45;
  border-bottom: 0px solid #71BF45;
}

.accordionTitle.sponsors {
  background-color: rgba(155,155,155,0.2);
}

.accordionTitle.platinium {border-bottom:0.5em solid #e5e4e2}
.accordionTitle.gold {border-bottom:0.5em solid #ffd700}
.accordionTitle.silver {border-bottom:0.5em solid #c0c0c0}
.accordionTitle.bronze {border-bottom:0.5em solid #cd7f32}

.accordionTitle:before {
  content: "+";
  font-size: 1.5em;
  line-height: 1em;
  float: left;
  margin-right:10px;
  -moz-transition: -moz-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  background-color:white;
  border-radius: 50%;
  height:1em;
  width:1em;
  padding-left:0.25em;
  margin-left:-2em;
}

.accordionTitle.platinium:before {color:#e5e4e2}
.accordionTitle.gold:before {color:#ffd700}
.accordionTitle.silver:before {color:#c0c0c0}
.accordionTitle.bronze:before {color:#cd7f32}

.accordionTitle:hover {
  background-color: #2c3e50;
}

.accordionTitleActive {
  background-color:#34495e;
}
.accordionTitleActive:before {
  -webkit-transform: rotate(-225deg);
  -moz-transform: rotate(-225deg);
  transform: rotate(-225deg);
}

.accordionItem {
  height: auto;
  overflow: hidden;
}
@media all {
  .accordionItem {
    max-height: 50em;
    -moz-transition: max-height 1s;
    -o-transition: max-height 1s;
    -webkit-transition: max-height 1s;
    transition: max-height 1s;
  }
}
@media screen and (min-width: 48em) {
  .accordionItem {
    max-height: 15em;
    -moz-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
  }
}

.accordionItemCollapsed {
  max-height: 0;
}

.animateIn {
  -webkit-animation-name: accordionIn;
  -webkit-animation-duration: 0.65s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  -webkit-animation-delay: 0s;
  -moz-animation-name: normal;
  -moz-animation-duration: 0.65s;
  -moz-animation-iteration-count: 1;
  -moz-animation-direction: alternate;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-fill-mode: both;
  -moz-animation-delay: 0s;
  animation-name: accordionIn;
  animation-duration: 0.65s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 0s;
}

.animateOut {
  -webkit-animation-name: accordionOut;
  -webkit-animation-duration: 0.75s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  -webkit-animation-delay: 0s;
  -moz-animation-name: accordionOut;
  -moz-animation-duration: 0.75s;
  -moz-animation-iteration-count: 1;
  -moz-animation-direction: alternate;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-fill-mode: both;
  -moz-animation-delay: 0s;
  animation-name: accordionOut;
  animation-duration: 0.75s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 0s;
}

@-webkit-keyframes accordionIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes accordionIn {
  0% {
    opacity: 0;
    -moz-transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1);
  }
}
@keyframes accordionIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes accordionOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.8);
  }
}
@-moz-keyframes accordionOut {
  0% {
    opacity: 1;
    -moz-transform: scale(1);
  }
  100% {
    opacity: 0;
    -moz-transform: scale(0.8);
  }
}
@keyframes accordionOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}
.slidelogo {
   background:url('/images/slide-icon-32.png');
   width:32px;
   float:left;
 }

@media print {
    body {transform: scale(.8);}
}
