body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #f9f9f9;
  }

  .lang-links {
    text-align: center;
    margin: 20px;
  }

  .lang-link {
    display: inline-block;
    padding: 8px 16px;
    margin: 5px;
    background-color: #d4edda;
    border-radius: 10px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: background-color 0.3s;
  }

  .lang-link:hover {
    background-color: #a0bea7;
  }

  img {
    max-width: 1000px;
    max-height: 400px;
    display: block;
    margin: 0 auto;
  }
