body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

#header-content-top {
  align-items: center;
  margin-bottom: 10px;
}

#header-content-link {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  white-space: nowrap; /* Keep the h1 on a single line */
  overflow: hidden; /* Hide anything that overflows if content is too long */
  text-overflow: ellipsis; /* Add ellipsis for overflowed text */
  padding-top: 15px;
  padding-bottom: 15px;
}

header h1 a {
  color: white;
  text-decoration: none;
}

a {
  color: #72babf ;
  text-decoration:  none;;
}

a

nav {
  background-color: #444;
  padding: 10px 20px;
}

main {
  padding: 20px;
}

#nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
}

#nav ul li {
  display: inline;
}

#nav ul li a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
}

#nav ul li a:hover {
  background-color: #666;
}

#nav ul li a.selected {
  background-color: #3f676a;
}


div#lang {
  padding: 0;
  margin-left: 20px;
}

div#lang a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #a0bea7;
}

div#lang a:hover {
  background-color: #666;
}


#banner {
  text-align: center;
  margin: 30px 0;
}

#banner img {
  width: 80%;
  max-width: 1000px;
  max-height: 400px;
  height: auto;
  display: block;
  margin: 0 auto;
}

#thanks {
  background-color: #d4edda;
  color: #155724;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0px;
}

footer {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

footer li {
  list-style: none;
  margin: 5px 0;
}


/* sponsors */

#sponsors {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-family: sans-serif;
}

#sponsors th {
  background-color: #d4edda; /* vert clair */
  color: #000;
  padding: 10px;
  border: none; /* pas de bordure */
}

#sponsors td {
  padding: 10px;
  border: none; /* pas de bordure */
}

#sponsors tbody tr:nth-child(even) {
  background-color: #f9f9f9; /* gris clair */
}
