 Options -Indexes
 AuthUserFile /home/osgeo/public_html/.htpasswd
 AuthName "Password Protected Area"
 AuthType Basic
 
<FilesMatch "^table\.php$">
 <limit GET POST>
 require valid-user
 </limit>
</FilesMatch>

