<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <title>FOSS4G - Belgium</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="FOSS4G Geo marker GIS Open Source" />
    <link rel="me" href="https://fosstodon.org/@osgeobe" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/choose_your_lang.css', _external=True) }}"> 
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body>

    <div class="lang-links">
      <a class="lang-link" href="{{ url_for('generic_page', lang='nl', page='home', _external=True) }}">NL</a>
      <a class="lang-link" href="{{ url_for('generic_page', lang='fr', page='home', _external=True) }}">FR</a>
      <a class="lang-link" href="{{ url_for('generic_page', lang='en', page='home', _external=True) }}">EN</a>
    </div>


    <img
    src="{{ url_for('static', filename='images/foss4gbe-g.svg', _external=True) }}"
    alt="FOSS4G Belgium logo"
    style="max-width: 1000px; max-height: 400px; margin: 0 auto; display: block;"
    />

    <div class="lang-links">
      <a class="lang-link" href="{{ url_for('generic_page', lang='nl', page='home', _external=True) }}">NL</a>
      <a class="lang-link" href="{{ url_for('generic_page', lang='fr', page='home', _external=True) }}">FR</a>
      <a class="lang-link" href="{{ url_for('generic_page', lang='en', page='home', _external=True) }}">EN</a>
    </div>
</html>
