<!-- sponsors.html -->
{% extends 'base.html' %}

{% block main %}

<h2>{{ page.title }}</h2>

<h3>{{ site.gold | capitalize }} sponsors</h3>

{% if  sponsors.gold  | length == 0 %}
    <span style="color:#666666">{{ page.no_sponsors }}</span>
{% else %}
    {% for sponsor in sponsors.gold %}
        <a href="{{ sponsor.url }}" target="_blank">
            <img src="{{ url_for('static', filename='images/sponsors/' ~ sponsor.logo, _external=True) }}" alt="{{ sponsor.name }}" class="img-sponsor" />
        </a>
    {% endfor %}
{% endif %}

<div style="clear: both;"></div>


<h3>{{ site.silver | capitalize }} sponsors</h3>

<div>
    {% for sponsor in sponsors.silver %}
    <a href="{{ sponsor.url }}" target="_blank">
        <img src="{{ url_for('static', filename='images/sponsors/' ~ sponsor.logo, _external=True) }}" alt="{{ sponsor.name }}" class="img-sponsor" />
    </a>
    {% endfor %}
</div>

<div style="clear: both;"></div>

<h3>{{ site.bronze | capitalize }} sponsors</h3>


{% for sponsor in sponsors.bronze %}
<a href="{{ sponsor.url }}" target="_blank">
    <img src="{{ url_for('static', filename='images/sponsors/' ~ sponsor.logo, _external=True) }}" alt="{{ sponsor.name }}"  class="img-sponsor" />
</a>
{% endfor %}

<div style="clear: both;"></div>

{% endblock %}